doctype html
html(lang='en')
  head
    title area finder
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/style.css')
  body
    .container
      form
        .jumbotron.text-center
          p.typehead-lg
            input#input.text-center(type='text', autofocus='true', placeholder='input')
            button#answer.btn.btn-lg.btn-primary GO
            input#total.text-center(type='text', autofocus='true', placeholder='total')
          #even
          #odd
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='/main.js')
